<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.name }} - Phonebook</title>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/web-phonebook.css">
    <script src="/static/common.js" defer></script>
</head>

<body>
    {% if admin %}
    <div class="admin-header">
        <div class="admin-header-width">
            <p>Hello {{ username }}</p>
            <button class="button" onclick="admin()">Admin</button>
            <button class="button-variant" onclick="logout()">Logout</button>
        </div>
    </div>
    {% endif %}
    <div class="main">
        <div class="body">
            <div class="body-logo"></div>
            <center><input type="text" name="search" class="search" oninput="search()" placeholder="{{ lang.search }}">
            </center>
            <table cellspacing="0" cellpadding="0" class="table">
                <thead class="table-header">
                    <tr>
                        <th>{{ lang.room }}</th>
                        <th>{{ lang.name }}</th>
                        <th>{{ lang.phone }}</th>
                    </tr>
                </thead>
                {% for book in page.books %}
                <thead class="book-header">
                    <tr>
                        <th colspan="3">
                            {{ book.name }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for number in book.numbers %}
                    <tr>
                        <td style="display: none;" class="inv-data">{{ number.location }} {{ number.name }} {{
                            number.email }} {{ number.title }} {{ number.phoneInt }} {{ number.phoneExt }}</td>
                        <td>{{ number.location }}</td>
                        <td>{{ number.name }} {% if number.email != "" %}<span
                                style="font-size: 0.8rem; color: var(--medium-emphasis);">({{
                                number.email
                                }})
                            </span>{% endif %}
                            {% if number.title != "" %}
                            <br>
                            <p style="font-size: 0.8rem; margin-bottom: 0; color: var(--medium-emphasis);">{{
                                number.title }}</p>
                            {% endif %}
                        </td>
                        <td>{% if number.phoneInt != "" %}
                            {{ number.phoneInt }}
                            {% endif %}
                            {% if number.phoneInt != "" and number.phoneExt != "" %}
                            <br>
                            {% endif %}
                            {% if number.phoneExt != "" %}
                            {{ number.phoneExt }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% for group in book.groups %}
                <thead class="group-thead">
                    <tr>
                        <th colspan="3">
                            {{ group.name }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for number in group.numbers %}
                    <tr>
                        <td style="display: none;" class="inv-data">{{ number.location }} {{ number.name }} {{
                            number.email }} {{ number.title }} {{ number.phoneInt }} {{ number.phoneExt }}</td>
                        <td>{{ number.location }}</td>
                        <td>{{ number.name }} {% if number.email != "" %}<span
                                style="font-size: 0.8rem; color: var(--medium-emphasis);">({{
                                number.email
                                }})
                            </span>{% endif %}
                            {% if number.title != "" %}
                            <br>
                            <p style="font-size: 0.8rem; margin-bottom: 0; color: var(--medium-emphasis);">{{
                                number.title }}</p>
                            {% endif %}
                        </td>
                        <td>{% if number.phoneInt != "" %}
                            {{ number.phoneInt }}
                            {% endif %}
                            {% if number.phoneInt != "" and number.phoneExt != "" %}
                            <br>
                            {% endif %}
                            {% if number.phoneExt != "" %}
                            {{ number.phoneExt }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="footer">
        <a href="https://ps.01e.cc/web-phonebook" target="_blank">
            <p>Powered by web-phonebook</p>
        </a>
        <a href="https://ps.01e.cc" target="_blank" rel="noopener noreferrer">
            <div class="footer-img"></div>
        </a>
    </div>

    <script>
        var searchBar = document.getElementsByClassName("search")[0]
        var table = document.getElementsByClassName("table")[0]
        function search() {
            var s = searchBar.value.toUpperCase();
            console.info("Searching: " + s)

            var startBook = false
            for (var i = 0; i < table.children.length; i++) {
                var c = table.children.item(i)
                if (c.classList.contains("table-header")) continue
                if (c.classList.contains("book-header") || c.classList.contains("group-thead")) {
                    if (s != "") {
                        c.style.display = "none"
                    } else {
                        c.style.display = "table-header-group"
                    }
                } else {
                    for (var ii = 0; ii < c.children.length; ii++) {
                        var cc = c.children.item(ii)
                        if (!cc.children[0].innerText.toUpperCase().includes(s)) {
                            cc.style.display = "none"
                        } else {
                            cc.style.display = "table-row"
                        }
                    }
                }
            }
        }
    </script>
</body>

</html>